{{ form_start(formImage) }}
    {{ form_row(formImage.type) }}
    {{ form_row(formImage.titre) }}
    {{ form_row(formImage.url) }}
    {{ form_row(formImage.imageFile) }}
    <input type="hidden" name="texte_id" value="{{ texte.id }}">
    <button id="target_validate_image" class="btn btn-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(formImage) }} 