{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.titre) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.soustitre) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.presentation) }}
    </div>
        <div class="mb-3">
        {{ form_row(form.imageFile) }}
    </div>
    {% if souscollectioncnd.imageFile is defined %}
        <div class="mb-6">
               {{ form_errors(form) }}
        </div> 
        <div class="mb-6">
            <img src="{{ vich_uploader_asset(souscollectioncnd, 'imageFile') }}" class="card-img-top" style="height:auto;width:50%;text-align:center;margin:auto;display:flex;">
        <div>
    {% endif %}

{{ form_rest(form) }}
    <br/>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

