<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src={{ asset('assets/front/js/jquery.min.js') }}></script>
	
	<title>: {{ dossier.titre }}</title>
	<style>
		@page{
			margin-top: 100px; /* create space for header */
			margin-bottom: 30px; /* create space for footer */
        }
		.img-fluid {
			width: 300px;
			height:  auto;
		}
		.card-title {
			margin-top: 0.5rem;
			margin-top: 0rem;
			font-weight: normal;
			width: 300px;
			font-size: 0.7rem;
		}
		.footnotes h2 {
			font-size: 0.9rem;
			margin-bottom: -1rem;
		}
		.footnotes ol li {
  			font-size: 0.9rem;
		}
		.typedoc {
			color: #5d7070;
			font-size: 0.8rem;
			font-weight: 600;
			margin-bottom: 5px;
		}
		cite {
			font-size: 0.9rem;
		}
		
        header, footer{
                position: fixed;
                left: 0px;
                right: 0px;
            }
		header{
			height: 60px;
			margin-top: -80px;
		}
		footer{
			height: 0px;
			margin-bottom: 0px;
			}
	</style>
</head>
<body>
	<header>
		<img style="width:150px;height:auto;" src="{{ absolute_url(asset('assets/logo_cnd.png')) }}" alt="">
	</header>
	<div style="margin: 0 auto;display: block;width: 100%">
		<h1>{{ dossier.titre|raw }}</h1>
		{% set rubriques = dossier.rubriques %}
		{% for rubrique in rubriques %}
			{% if rubrique.sousrubriques|length == 0 %}
				<h2>{{ rubrique.titre|raw }}</h2>
				{% set textes = rubrique.textes %}
				{% if textes|length > 0 %}
					{% for texte in textes %}
						{{ texte.contenu|replace({"/uploads/images/":"http://localhost/uploads/images/","<img alt=":"</p><p><img alt="})|raw }}
						<table border="0">
							{% for image in texte.images %}
								<tr>
									<td>
										{% include 'front/commun/_ressource_externe_pdf.html.twig' %}
									</td>
								<tr>
							{% endfor %}
						</table>
						<table border="0">
							{% for ressource in texte.ressources %}
								<tr>
								<td>
									{% include 'front/commun/_ressource_pdf.html.twig' %}
								</td>
								<tr>
							{% endfor %}
						</table>
					{% endfor %}
				{% endif %}
			{% endif %}
			{% if rubrique.sousrubriques|length > 0 %}
				<h2>{{ rubrique.titre|raw }}</h2>
				{% set numero_ss_rubrique = 0 %}
				{% for sousrubrique in rubrique.sousrubriques %}
					<h3>{% set counter = ( counter | default(0) ) + 1 %} {{ counter }} - {{ sousrubrique.titre }} <span id="{{ counter }}"></span></h3>
					{% if sousrubrique.resume is defined and sousrubrique.resume is not null %}
						<strong>{{ sousrubrique.resume|raw }}</strong>
					{% endif %}
					{% for texte in sousrubrique.textes %}
						{{ texte.contenu|replace({"/uploads/images/":"http://localhost/uploads/images/","<img alt=":"</p><p><img alt="})|raw }}
						<table border="0">
							{% for image in texte.images %}
								<tr>
									<td>
										{% include 'front/commun/_ressource_externe_pdf.html.twig' %}
									</td>
								<tr>
							{% endfor %}
						</table>
						<table border="0">
							{% for ressource in texte.ressources %}
								<tr>
								<td>
									{% include 'front/commun/_ressource_pdf.html.twig' %}
								</td>
								<tr>
							{% endfor %}
						</table>
					{% endfor %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
	<footer></footer>
</body>
</html>