{% block css %}
	<link rel="stylesheet" href={{ asset('assets/front/css/cnd.css') }} />
	<link rel="stylesheet" href={{ asset('assets/front/css/dossier.css') }} />
{% endblock %}
<style>
        .img-fluid {
            max-width: 400px ;
            height:  auto;
			margin-top: 30px;
        }
		#figure {
			width: 100%;
            height:  auto;
		}
</style>
{% block body %}
	<!-- Wrapper -->
	<div id="wrapper" class="divided">
		<!-- Additional Elements -->
		<section class="wrapper style1">
			<div class="inner top-responsive">
				<h2>{{ dossier_titre|raw }}</h2>
				<div class="index">
					<!-- Unordered List -->
					<section>
						<div class="content title">
							<h1>{{ rubrique_titre|raw }}</h1>
							{% for texte in rubrique_textes %}
								{{ texte.contenu|replace({"/uploads/images/":"http://localhost:8000/uploads/images/","figcaption":"p"})|raw }}
								{% if texte.ressources|length > 0 %}
									<div class="row top-card-resp" >
										<div class="col-12 m-b-30">
											<div class="row">
												{% for ressource in texte.ressources %}
													{% include 'front/commun/_ressource_pdf.html.twig' %}
												{% endfor %}
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
							<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
							<script>
							$(function() {
								var Accordion = function(el, multiple) {
									this.el = el || {};
									this.multiple = multiple || false;

									// Variables privadas
									var links = this.el.find('.link');
									// Evento
									links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
								}

								Accordion.prototype.dropdown = function(e) {
									var $el = e.data.el;
										$this = $(this),
										$next = $this.next();

									$next.slideToggle();
									$this.parent().toggleClass('open');

									if (!e.data.multiple) {
										$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
									};
								}	

								var accordion = new Accordion($('#accordion'), false);
							});
							</script>
						</div>
					</section>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
{% block javascript %}
	<script>
			var images= document.querySelectorAll( ".content img" ),
			L = images.length, fig = document.createElement('figure'),
			who, temp
			while(L) {
				temp = fig.cloneNode(false);
				who = images[--L];
				caption = who.getAttribute("alt");
				who.parentNode.insertBefore(temp, who);
				content = document.createElement( 'figcaption' );
				content.innerHTML = caption;
				temp.appendChild(who);
				temp.appendChild(content);
			}
			$(".content img").attr("style", "height:auto;");
			//$(".content figcaption").attr("style", "max-width:350px;height:auto;");
			$(".content img").attr("id", "figure");
			//$(".content img").attr("style", "figure");

			$("#intro p").each(function(index) {
				$( this ).attr("id", "more" + index)
			});
			$("#intro p:nth-child(n+3)").attr("style", "display:none");
			$('<span id="moreText"><a href="#" onclick="more();">Lire la suite...</a></span>').insertBefore("#more3");

			function more() {
				
				var moreText = document.getElementById("moreText");
				
				$("#intro p").each(function(index) {
					$( this ).attr("style", "display:block")
				});

				moreText.style.display = "none";
			}

			jQuery("document").ready(function($){
			
			var nav = $('.accordion');
			var a = $( "#accordion" ).first();
			// on calcule la position initiale du menu
			var position = a.position();
			// Si le texte est trop long
			var positionTop = position.top * 3;
			var largeur_fenetre = $(window).width();
			
			$(window).scroll(function () {
				if ($(this).scrollTop() > positionTop && largeur_fenetre > 769) {
					nav.addClass("fixe");
				} else {
					nav.removeClass("fixe");
				}
			});
		
			});
	</script>
{% endblock %}
