{% extends 'admin/base.html.twig' %}

{% block title %}{{ dossier.titre }} > {{ rubrique.titre }} > Nouvelle sous rubrique{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
        <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h3>{{dossier.titre}} > {{ rubrique.titre }}</h3>
                        <h4 class="card-title">Nouvelle sous-rubrique</h4>
                            {{ include('admin/sousrubrique/_form.html.twig', {'button_label': 'Valider'}) }}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
   

