<div class="col-md-6 col-lg-3">
	<div class="card card-resp">
		<span class="typedoc">{{ image.type }}</span>
		{% if image.url %}
			{% if image.url %}<a href="{{ image.url}}" target="_blank">{% endif %}<img class="img-fluid" alt="Consulter la ressource"  src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumbv') }}" class="responsive"  alt="Consulter" title="Consulter"/>{% if image.url %}</a>{% endif %}
		{% endif %}
		<div class="card-body">
			<h5 class="card-title">{% if image.url %}<a href="{{ image.url }}" target="_blank" title="Consulter">{% endif %}{{ image.titre|replace({'&#8239': ""})|raw }}{% if image.url %}</a>{% endif %}</h5>
		</div>
	</div>
</div>



								

								