<div class="col-md-6 col-lg-3">
	<div class="card card-resp">
		<span class="typedoc">{{ ressource.type }}</span>
		{% if ressource.urlImag %}
			<a href={{'http://mediatheque.cnd.fr/spip.php?page=mediatheque-numerique-ressource&id=' ~ ressource.referenceCadic }} target="_blank"><img class="img-fluid" src="http://cadic.cnd.fr/exl-img/{{ ressource.urlImag|replace({'.jpg': '.jpg'}) }}" class="responsive" id="feuilleter" alt="Consulter" title="Consulter" /></a>
		{% else %}
			<a href="{{'http://mediatheque.cnd.fr/spip.php?page=mediatheque-numerique-ressource&id=' ~ ressource.referenceCadic }}" target="_blank"><img class="img-fluid" src="{{ '/images/resources/empty.jpg' | imagine_filter('thumb') }}" class="responsive" id="feuilleter" alt="Consulter" title="Consulter" />
		{% endif %}
		<div class="card-body">
			<h5 class="card-title"><a href="{{'http://mediatheque.cnd.fr/spip.php?page=mediatheque-numerique-ressource&id=' ~ ressource.referenceCadic }}" target="_blank" title="Consulter">{{ ressource.titre|replace({'&#8239': ""})|raw }}</a></h5>
		<!--
			{% if ressource.personne %}
					<div><span class="person">{{ ressource.personne|replace({'|': " ; "})|raw }}</span></div> 
			{% endif %}
			{% if ressource.oeuvre %}
					<div><span class="person">&#171; {{ ressource.oeuvre|replace({'|': "  &#187; ; &#171; "})|raw }} &#187;</span></div> 
			{% endif %}
			{% if ressource.auteur %}
				<div><span class="person">Par {{ ressource.auteur|replace({'|': " ; "})|raw }}</span></div> 
			{% endif %}
			<div class="text">
				<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
				<p class="card-text"><small class="text-muted"><a href="#" class="">Consulter</a></small>
				</p>
			</div>
		-->
		</div>
	</div>
</div>