{% extends 'front/base.html.twig' %}
{% block css %}
	<link rel="stylesheet" href={{ asset('assets/front/css/dossier.css') }} />
{% endblock %}
{% block body %}
	<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<!-- Additional Elements -->
				<section class="wrapper style1">
					<div class="inner top-responsive">
						<h2>{{ dossier.titre }}</h2>
						{% if dossier.soustitre %}<h3>{{ dossier.soustitre }}</h3>{% endif %}
						{% if dossier.resume %}{{ dossier.resume|raw }}{% endif %}
						<div class="index">
							<!-- Unordered List -->
							<section>
								<header>
									<div class="jquery-script-ads" align="left" style="margin:-1rem auto"></div>
									<!-- Contenedor -->
									{% include 'front/commun/_menu.html.twig' %}
								</header>
								<div class="content title">
									{% set rubrique = rubriques[0] %}
									<h1>{{ rubrique.titre }}</h1>
									{% if rubrique.resume %}<span class="intro">{{ rubrique.resume|raw }}</span>{% endif %}
									{% for texte in rubrique.textes %}
										{{ texte.contenu|raw }}
										<div class="upload">
											<ul> 
												{% for file in texte.uploads %}
													<li>
														<a href={{path('app_upload_download',{'slug': file.slug, 'id':file.id})}}>{{file.titre}}</a> <span id="pdf">pdf</span>
													</li>
												{% endfor %}
											</ul>
										</div>
											<div class="row top-card-resp" >
												<div class="col-12 m-b-30">
													<div class="row">
														{% for ressource in texte.ressources %}
															{% include 'front/commun/_ressource_product.html.twig' %}
														{% endfor %}
													</div>
												</div>
											</div>
									{% endfor %}
									<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
									<script>
									$(function() {
										var Accordion = function(el, multiple) {
											this.el = el || {};
											this.multiple = multiple || false;

											// Variables privadas
											var links = this.el.find('.link');
											// Evento
											links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
										}

										Accordion.prototype.dropdown = function(e) {
											var $el = e.data.el;
												$this = $(this),
												$next = $this.next();

											$next.slideToggle();
											$this.parent().toggleClass('open');

											if (!e.data.multiple) {
												$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
											};
										}	

										var accordion = new Accordion($('#accordion'), false);
									});
									
									</script>
								</div>
							</section>
						</div>
					</div>
				</section>
			</div>
{% endblock %}
{% block javascript %}
<script>
	var images= document.querySelectorAll( ".content img" ),
	L = images.length, fig = document.createElement('figure'),
	who, temp
	while(L) {
		temp = fig.cloneNode(false);
		who = images[--L];
		caption = who.getAttribute("alt");
		who.parentNode.insertBefore(temp, who);
		content = document.createElement( 'figcaption' );
		content.innerHTML = caption;
		temp.appendChild(who);
		temp.appendChild(content);
	}
	$(".content img").attr("style", "max-width:350px;height:auto;");
	$(".content figcaption").attr("style", "max-width:350px;height:auto;");
	$(".content img").attr("id", "figure");
	//$(".content img").attr("style", "figure");
</script>
{% endblock %}
