{% extends 'front/base.html.twig' %}
{% block css %}
<style>
	.carousel-item img:hover {
		/**
    	-webkit-filter : saturate(20%); /* Chrome, Safari, Opera */
		/**
  		filter : saturate(20%);
		
		 -webkit-filter : sepia(10%); /* Chrome, Safari, Opera */
		/**
  		filter : sepia(10%);
		**/
		filter: contrast(40%);
		-webkit-filter : contrast(40%); /* Chrome, Safari, Opera */
	}
	.carousel-item p {
		font-size: 1rem;
	}
	body { 
		font-family:TradeGothic,Helvetica,Arial,sans-serif; 
	}
	.content h2 {
		margin-top: 0rem;
	}
	.content h1 {
		margin-bottom: 0rem;
	}
	.hidden-row {
		display: none;
	}
	
</style>
{% endblock %}
	{% block body %}
	<section class="wrapper style1 align-center">
		<div class="inner medium">
			<h1 class="title title--edition" style="margin-top:2px;margin-bottom:10px;">Partager cette ressource</h1>
			{{ form_start(form) }}
				<div class="fields">
					<div class="field half">
						{{ form_row(form.nom, {'label' : 'Nom'}) }}
					</div>
					<div class="field half">
						{{ form_row(form.email, {'label' : 'Email'}) }}
					</div>
					<div class="field">
						{{ form_row(form.objet, {'value' : url , 'label' : 'Ressource à partager' }) }}
					</div>
					<div class="field" style="display:none;">
						{{ form_row(form.message) }}
					</div>
				</div>
				<ul class="actions special" style="display:block;">
					<li><input style="color:#000 !important;" type="submit" name="submit" id="submit" value="Envoyer" /></li>
				</ul>
			{{ form_end(form) }}
		</div>
	</section>
 {% endblock %}