{% extends 'front/base.html.twig' %}
{% block css %}
	<link rel="stylesheet" href={{ asset('assets/front/css/dossier.css') }} />
{% endblock %}
{% block body %}
	<!-- Wrapper -->
	<div id="wrapper" class="divided">
		<!-- Additional Elements -->
		<section class="wrapper style1">
			<div class="inner top-responsive">
				<h2>{{ dossier.titre }}</h2>
				{% if dossier.soustitre %}<h3>{{ dossier.soustitre }}</h3>{% endif %}
				{% if dossier.resume %}
					<div id="intro">{{ dossier.resume|raw}}</div>
				{% endif %}
				<div class="index">
					<!-- Unordered List -->
					<section>
						<header>
							<div class="jquery-script-ads" align="left"></div>
							<!-- Contenedor -->
							{% include 'front/commun/_menu.html.twig' %}
						</header>
						<div class="content title">
							<h1 style="margin-bottom:0">{{ sousrubrique.rubrique.titre }} </h1>
							<nav class="share">
								<ul style="margin:0;">
									<li><span><a href={{path('front_sousrubriquepdf_show',{'slug': sousrubrique.slug,'id':sousrubrique.id})}} target="_blank"><i class="fa fa-print"></i></a></span></li>
									<li><span><a href={{path('front_sousrubriquepdf_show',{'slug': sousrubrique.slug,'id':sousrubrique.id})}} target="_blank"><i class="fa fa-file-pdf-o"></i></a></span></li>
									<li>
										<div class="dropdown">
											<span class="dropbtn"><i class="fa fa-share-alt"></i><span>
											<div class="dropdown-content">
												<span><a href="#1"><i class="fa fa-facebook"></i></a></span>
												<span><a href="#2"><i class="fa fa-twitter"></i></a></span>
												<span><a href="#3"><i class="fa fa-envelope"></i></a></span>
											</div>
										</div>
									</li>
								</ul>
							</nav>
							<h2>{{ sousrubrique.titre }}</h2>
							{% if sousrubrique.soustitre %}<h3>{{ sousrubrique.soustitre }}</h3>{% endif %}
							{% if sousrubrique.resume %}<span class="intro">{{ sousrubrique.resume|raw }}</span>{% endif %}
							{% for texte in sousrubrique.textes %}
								{{ texte.contenu|raw }}
								{% if texte.uploads|length > 0 %}
									<div class="upload">
										<ul> 
											{% for file in texte.uploads %}
												<li>
													<a href={{path('app_upload_download',{'slug': file.slug, 'id':file.id})}}>{{file.titre}}</a> <span id="pdf">pdf</span>
												</li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}
								{% if texte.ressources|length > 0 %}
									<div class="row top-card-resp" >
										<div class="col-12 m-b-30">
											<div class="row">
												{% for ressource in texte.ressources %}
													{% include 'front/commun/_ressource_product.html.twig' %}
												{% endfor %}
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
							<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
							<script>
							$(function() {
								var Accordion = function(el, multiple) {
									this.el = el || {};
									this.multiple = multiple || false;

									// Variables privadas
									var links = this.el.find('.link');
									// Evento
									links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
								}

								Accordion.prototype.dropdown = function(e) {
									var $el = e.data.el;
										$this = $(this),
										$next = $this.next();

									$next.slideToggle();
									$this.parent().toggleClass('open');

									if (!e.data.multiple) {
										$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
									};
								}	

								var accordion = new Accordion($('#accordion'), false);
							});
							
							</script>
						</div>
					</section>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
{% block javascript %}
	<script>
			var images= document.querySelectorAll( ".content img" ),
			L = images.length, fig = document.createElement('figure'),
			who, temp
			while(L) {
				temp = fig.cloneNode(false);
				who = images[--L];
				caption = who.getAttribute("alt");
				who.parentNode.insertBefore(temp, who);
				content = document.createElement( 'figcaption' );
				content.innerHTML = caption;
				temp.appendChild(who);
				temp.appendChild(content);
			}
			$(".content img").attr("style", "height:auto;");
			//$(".content figcaption").attr("style", "max-width:350px;height:auto;");
			$(".content img").attr("id", "figure");
			//$(".content img").attr("style", "figure");

			$("#intro p").each(function(index) {
				$( this ).attr("id", "more" + index)
			});
			$("#intro p:nth-child(n+3)").attr("style", "display:none");
			$('<span id="moreText"><a href="#" onclick="more();">Lire la suite...</a></span>').insertBefore("#more3");

			function more() {
				
				var moreText = document.getElementById("moreText");
				
				$("#intro p").each(function(index) {
					$( this ).attr("style", "display:block")
				});

				moreText.style.display = "none";
			}

			jQuery("document").ready(function($){
			
			var nav = $('.accordion');
			var a = $( "#accordion" ).first();
			// on calcule la position initiale du menu
			var position = a.position();
			// Si le texte est trop long
			var positionTop = position.top * 3;
			var largeur_fenetre = $(window).width();
			
			$(window).scroll(function () {
				if ($(this).scrollTop() > positionTop && largeur_fenetre > 769) {
					nav.addClass("fixe");
				} else {
					nav.removeClass("fixe");
				}
			});
		
			});
	</script>
{% endblock %}