{% extends 'front/base.html.twig' %}
{% block css %}
	<link rel="stylesheet" href={{ asset('assets/front/css/dossier.css') }} />
{% endblock %}
{% block body %}
	<!-- Wrapper -->
	<div id="wrapper" class="divided">
		<!-- Additional Elements -->
		<section class="wrapper style1">
			<div class="inner top-responsive">
				<h2>{{ dossier.titre }}</h2>
				{% if dossier.soustitre %}<h3>{{ dossier.soustitre }}</h3>{% endif %}
				{% if dossier.resume %}{{ dossier.resume|raw }}{% endif %}
				<div class="index">
					<!-- Unordered List -->
					<section>
						<header>
							<div class="jquery-script-ads" align="left"></div>
							<!-- Contenedor -->
							{% include 'front/commun/_menu.html.twig' %}
						</header>
						<div class="content title">
							<h1>{{ sousrubrique.rubrique.titre }} </h1>
							<h2>{{ sousrubrique.titre }}</h2>
							{% if sousrubrique.soustitre %}<h3>{{ sousrubrique.soustitre }}</h3>{% endif %}
							{% if sousrubrique.resume %}<span class="intro">{{ sousrubrique.resume|raw }}</span>{% endif %}
							{% for texte in sousrubrique.textes %}
								{{ texte.contenu|raw }}
								{% if texte.ressources|length > 0 %}
									<div class="row top-card-resp" >
										<div class="col-12 m-b-30">
											<div class="row row-top">
												{% for ressource in texte.ressources %}
													{% include 'front/commun/_ressource_product.html.twig' %}
												{% endfor %}
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
							<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
							<script>
							$(function() {
								var Accordion = function(el, multiple) {
									this.el = el || {};
									this.multiple = multiple || false;

									// Variables privadas
									var links = this.el.find('.link');
									// Evento
									links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
								}

								Accordion.prototype.dropdown = function(e) {
									var $el = e.data.el;
										$this = $(this),
										$next = $this.next();

									$next.slideToggle();
									$this.parent().toggleClass('open');

									if (!e.data.multiple) {
										$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
									};
								}	

								var accordion = new Accordion($('#accordion'), false);
							});
							
							</script>
						</div>
					</section>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
{% block javascript %}
<script>
	var images= document.querySelectorAll( ".content img" ),
	L = images.length, fig = document.createElement('figure'),
	who, temp
	while(L) {
		temp = fig.cloneNode(false);
		who = images[--L];
		caption = who.getAttribute("alt");
		who.parentNode.insertBefore(temp, who);
		content = document.createElement( 'figcaption' );
		content.innerHTML = caption;
		temp.appendChild(who);
		temp.appendChild(content);
	}
	$(".content img").attr("style", "max-width:320px;height:auto;");
	$(".content figcaption").attr("style", "max-width:320px;height:auto;");
</script>
{% endblock %}