{% extends 'front/base.html.twig' %}
{% block css %}
<style>
	.carousel-item img:hover {
		/**
    	-webkit-filter : saturate(20%); /* Chrome, Safari, Opera */
		/**
  		filter : saturate(20%);
		
		 -webkit-filter : sepia(10%); /* Chrome, Safari, Opera */
		/**
  		filter : sepia(10%);
		**/
		filter: contrast(40%);
		-webkit-filter : contrast(40%); /* Chrome, Safari, Opera */
	}
	.carousel-item p {
		font-size: 1rem;
	}
	body { 
		font-family:TradeGothic,Helvetica,Arial,sans-serif; 
	}
	.content h2 {
		margin-top: 0rem;
	}
	.content h1 {
		margin-bottom: 0rem;
	}
	td .img-fluid {
		display: none;
	}
	table td {
  		padding: 0rem;
	}
	table tbody tr:nth-child(2n + 1) {
    	background-color: #fff;
	}
	table tbody tr {
    	border-color: #fff;
	}
	
</style>
{% endblock %}
	{% block body %}
		<div class="bd-example">
			<section class="wrapper style1">
				<div class="inner">
					<h1 class="title title--edition"><a href="#">Tous les dossiers et articles</a></h1>
				</div>
			</section>
			{% for produit in produits %}
					{% if produit.type == 1 %}
						<section id="dossier" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
							<div class="inner img-display" >
								<h1 class="title title--edition"><a href={{ path('front_dossier_show', {'slug': produit.slug,'id': produit.id}) }} title="Consulter ce dossier">{{ produit.titre }}</a></h1>
								{% if produit.soustitre %}
										<h2><a href={{ path('front_dossier_show', {'slug': produit.slug,'id': produit.id}) }} title="Consulter ce dossier">{{ produit.soustitre }}</a></h2>
								{% endif %}
								{% if produit.resume %}
									{{ produit.resume|u.truncate(800, '...', false)|raw }}
								{% endif %}
							</div>
							<div class="image">
								<a href={{ path('front_dossier_show', {'slug': produit.slug,'id': produit.id}) }} title="Consulter ce dossier "><img src={{ vich_uploader_asset(produit, 'imageFile') | imagine_filter('thumbd')}} alt="" /></a>
							</div>
						</section>
					{% endif %}
					{% if produit.type == 2 %}
						<section id="dossier" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
							<div class="inner img-display">
								<h1 class="title title--edition"><a href={{ path('front_article_show', {'slug': produit.slug,'id': produit.id}) }} title="Consulter ce dossier">{{ produit.titre }}</a></h1>
								{% if produit.soustitre %}
										<h2><a href={{ path('front_article_show', {'slug': produit.slug,'id': produit.id}) }} title="Consulter ce dossier">{{ produit.soustitre }}</a></h2>
								{% endif %}
								{% if produit.resume %}
									{{ produit.resume|u.truncate(800, '...')|raw }}</a>
								{% endif %}
							</div>
							<div class="image">
								<a href={{ path('front_article_show', {'slug': produit.slug,'id': produit.id}) }} title="Consulter ce dossier"><img src={{ vich_uploader_asset(produit, 'imageFile') | imagine_filter('thumbd')}} alt="" /></a>
							</div>
						</section>
					{% endif %}
			{% endfor %}
		</div>
 {% endblock %}
 {% block javascript %}
	<script>
		$(".img-display img").attr("style", "display:none;");
	</script>
{% endblock %}
