{% extends 'admin/base.html.twig' %}

{% block title %}Texte index{% endblock %}

{% block body %}
    <h1>Texte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for texte in textes %}
            <tr>
                <td>{{ texte.id }}</td>
                <td>{{ texte.titre }}</td>
                <td>{{ texte.contenu }}</td>
                <td>
                    <a href="{{ path('app_texte_show', {'id': texte.id}) }}">show</a>
                    <a href="{{ path('app_texte_edit', {'id': texte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_texte_new') }}">Create new</a>
{% endblock %}
