{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}
{% block stylesheets %}
    <link href={{ asset('assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css') }} rel="stylesheet">
    <style>
        ul {
            list-style: none; /* enlever les puces */
            margin: 0; /* enlever les marges automatiques */
        }
        .card-body ul li {
            display: table-cell; /* affichage en ligne */
        }
        td ul li {
            display: table-cell; /* affichage en ligne */
        }
        ul li button {
            margin-right: 5px;
        }
        .index {
            /* color: #ffffff; 
            font-weight:600;
            background-color: #bf6f33; 
            border-radius: 5px;
            */
            padding: 2px;
            margin-right: 1px;
            margin-top: 2px;
	    }
        .space-icone span {
            margin-right: 5px;
        }
        .form-control {
            min-width: 660px;
        }
    </style>
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                        <h2>{{ collectioncnd.titre }}</h2>
                        {{ collectioncnd.presentation|raw }}
                        <div style="margin-top:20px;">
                            <ul>
                                <li>
                                    <a class="btn btn-primary" href="{{ path('app_collectioncnd_edit', {'id': collectioncnd.id}) }}" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg> Modifier</a>
                                </li>
                                <li>
                                    <a class="btn btn-primary" href="{{ path('app_souscollectioncnd_new', {'id_collection': collectioncnd.id}) }}" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                                    <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                                    <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg> Ajouter une sous-collection</a>
                                </li>
                                <li>
                                    <a class="btn btn-primary" href="{{ path('app_collectioncnd_index') }}" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg> Liste des collections</a>
                                </li>
                                {% if collectioncnd.souscollectioncnds|length == 0 %}
                                    <li>
                                        <form method="post" action="{{ path('app_collectioncnd_delete', {'id': collectioncnd.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collectioncnd.id) }}">
                                            <button class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                            </svg> Supprimer</button>
                                        </form>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <hr>
                        <h3>Sous-collections</h3>
                {% set souscollections = collectioncnd.souscollectioncnds %}
                {% if souscollections|length > 0 %}
                    <div class="table-responsive tab-pane fade" id="liste">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Référence</th>
                                    <th>Titre</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            
                        </table>
                        {% else %}
                            <strong >Aucune collection disponible</strong>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
      <!-- {{ include('collectioncnd/_delete_form.html.twig') }} -->
    
                
    <!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    
</div>
<!-- #/ container -->
{% block javascripts %}
    <script src={{ asset('assets/plugins/tables/js/jquery.dataTables.min.js') }}></script>
    <script src={{ asset('assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js') }}></script>
    <script src={{ asset('assets/plugins/tables/js/datatable-init/datatable-basic.min.js') }}></script>
{% endblock %}
{% endblock %}
