{% extends 'base.html.twig' %}

{% block title %}Dossier index{% endblock %}

{% block body %}
    <h1>Dossier index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Résume</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers %}
            <tr>
                <td>{{ dossier.titre }}</td>
                <td>{{ dossier.resume }}</td>
                <td class="align-middle">
                <table border="1">
                    <tr>
                        <td class="align-middle">
                            <a href="{{ path('app_dossier_show', {'id': dossier.id}) }}"><i class="fa-regular fa-clone fa-2xl" title="Enrichir"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-bottom">
                            <a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}"><i class="fa-regular fa-pen-to-square fa-2xl" title="Modifier"></i></a>
                        </td>
                    </tr>
                </table>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dossier_new') }}">Create new</a>
{% endblock %}
